
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
// TODO: navBar style


// TODO: home section styling 


// TODO: about section styling 


  

// TODO: services section styling 



// TODO: skills section styling 



// TODO: contact section styling 

//  TODO: footer section styling 
