@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  background: #0A1931;
}

.maxWidth {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navBar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.navBar .maxWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar .menu li {
  display: inline-block;
  list-style: none;
}

.navBar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navBar.sticky {
  padding: 15px 0;
  background: #1815b8;
}

.navBar .logo a span {
  color: #FDB827;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navBar.sticky .logo a span {
  color: #fff;
}

.navBar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.navBar .menu li a:hover {
  color: #011817;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/5-tips-for-students-to-improve-coding-skills-during-college.jpg) no-repeat center;
  color: #fff;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .maxWidth {
  margin: auto 0 auto 50px;
}

.home .homeContent .nameTxt_1 {
  font-size: 27px;
}

.home .homeContent .nameTxt_2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .homeContent .nameTxt_3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .homeContent .nameTxt_3 span {
  color: #12e1c5;
}

.menu-btn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.aboutSection {
  padding-top: 70px;
  background-color: #ddd;
  width: 100%;
  min-height: 100vh;
}

#about {
  font-family: 'Poppins', sans-serif;
}

.aboutSection .title {
  text-align: center;
}

.aboutSection .title h1 {
  -webkit-text-decoration: underline solid #3f106e 5px;
          text-decoration: underline solid #3f106e 5px;
  font-size: 40px;
  font-weight: 600;
}

.abtContainer {
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 20px;
}

.abtMeContnet .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25%;
  margin-top: 10px;
}

.abtContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.imageSection {
  width: 40%;
  overflow: hidden;
}

.imageSection img {
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abtMeContnet p {
  padding: 100px;
  padding-top: 10px;
}

.abtMeContnet h3 {
  text-align: center;
}

.new {
  width: 60%;
}

.abtMeContnet .button {
  text-decoration: none;
  background-color: #3d3d3d;
  font-size: 16px;
  padding: 10px 5px;
  margin-left: 100px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.abtMeContnet .button a {
  color: #fff;
}

.social {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 200px;
  margin-left: 100px;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 170px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper a {
  color: black;
}

#fb :hover .icon {
  background: #4267B2;
}

#tg:hover .icon {
  background: #1DA1F2;
}

#insta:hover .icon {
  background: #E1306C;
}

#git:hover .icon {
  background: #333;
}

#ld:hover .icon {
  background: #0e76a8;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#fb span {
  color: #4267B2;
}

#tg span {
  color: #1DA1F2;
}

#insta span {
  color: #E1306C;
}

#git span {
  color: #050505;
}

#ld span {
  color: #2867B2;
}

#service {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.serviceSection {
  max-width: 1300px;
  padding: 100px 60px;
  margin: auto;
  z-index: -20;
}

.serviceSection h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 15px;
  position: relative;
  z-index: -1;
}

.serviceSection h1::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.srvContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10;
}

.card {
  background-color: #333;
  width: calc(26% - 20px);
  padding: 40px 20px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 6;
}

.card img {
  position: absolute;
  top: -150px;
  right: -150px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.card::before {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  background-color: crimson;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card:hover {
  background-color: transparent;
}

.card:hover .box i {
  color: #fff;
}

.card:hover::before {
  width: 100%;
}

.card:hover img {
  top: 0;
  right: 0;
}

.box {
  color: #fff;
  text-align: left;
}

.box i {
  font-size: 40px;
  padding-left: 10px;
  color: crimson;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.box h2 {
  font-size: 25px;
}

@media (max-width: 690px) {
  .maxWidth {
    padding: 0 23px;
  }
  .home {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .home .homeContent .nameTxt_2 {
    font-size: 56px;
  }
  .home .homeContent .nameTxt_3 {
    font-size: 25px;
  }
  .new {
    margin-top: 25px;
    width: 80%;
  }
  .imageSection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: none;
  }
  .abtMeContnet .button {
    font-size: 16px;
    width: 155px;
  }
  .social {
    height: 320px;
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .imageSection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .imageSection img {
    width: 60%;
  }
  .new {
    margin-top: 25px;
    width: 80%;
  }
  .abtMeContnet .button {
    text-decoration: none;
    background-color: #3d3d3d;
    font-size: 20px;
    padding: 10px 10px;
    margin-left: 0;
    width: 140px;
    margin-bottom: 20px;
  }
  .abtMeContnet .button a {
    color: #fff;
  }
  .abtMeContnet p {
    text-align: justify;
    padding: 0;
  }
  .button {
    margin-top: 20px;
    margin-left: 0;
  }
  .social {
    margin-left: 0;
  }
}

@media (max-width: 925px) {
  .maxWidth {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navBar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #111;
    text-align: center;
    padding-top: 70px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 999;
  }
  .navBar .menu.active {
    left: 0;
  }
  .navBar .menu li {
    display: block;
  }
  .navBar .menu li a {
    display: inline-block;
    margin: 15px;
    font-size: 20px;
  }
  .home .homeContent .nameTxt_2 {
    font-size: 65px;
  }
  .home .homeContent .nameTxt_3 {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .maxWidth {
    padding: 0 50px;
  }
}

@media (max-width: 1100px) {
  .home .maxWidth {
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .serviceSection {
    padding: 100px 25px;
  }
  .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 680px) {
  .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */