
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
}

.maxWidth {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

// TODO: navBar style

.navBar {
    // background: #45A29E;
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navBar .maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navBar .menu li {
    display: inline-block;
    list-style: none;
}

.navBar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    
}

.navBar.sticky{
    padding: 15px 0;
    background: #45A29E;
}

.navBar .logo a span {
    color: #45A29E;
    transition: all 0.3s ease;
}

.navBar.sticky .logo a span{
    color: #fff;
}
.navBar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.2s ease;
}

.navBar .menu li a:hover{
    color: #45A29E;
}


// TODO: home section styling 

.home {
    display: flex;
    background: url(../images/5-tips-for-students-to-improve-coding-skills-during-college.jpg) no-repeat center ;
    color: #fff;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .maxWidth {
    margin: auto 0 auto 50px;
}

.home .homeContent .nameTxt_1{
    font-size: 27px;
}
.home .homeContent .nameTxt_2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .homeContent .nameTxt_3{
    font-size: 40px;
    margin: 5px 0;
}
.home .homeContent .nameTxt_3 span {
    color: rgb(18, 225, 197);

}

.menu-btn {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}





// TODO: about section styling 


.aboutSection {
    background-color: #ddd;
    
    width: 100%;
    min-height: 100vh;
}
  
.aboutSection .title {
    text-align: center;

    h1 {
        text-decoration: underline solid rgb(63, 16, 110) 5px;

    }
}

.abtContainer {
    width: 100%;
    margin: auto;
    display: block;
    padding-top: 20px;
}
.button{
    align-items: center;
    margin-left: 25%;
    margin-top: -70px;
}
.abtContent {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.imageSection {
   width: 40%;
   overflow: hidden;
}
.imageSection img{
    
    width: 300px;
    align-items: center;
    
 }
 

.abtMeContnet p {
        padding: 100px;
        padding-top: 10px;
    }
.abtMeContnet h3 {
    text-align: center;
}
.new{
    width:60%;
}

// TODO:
.abtMeContnet{

    .button {
        text-decoration: none;
        background-color: #3d3d3d;
        font-size: 22px;
        padding: 10px 10px;
        margin-left: 100px;
        width: 132px;
        border-radius: 10px;
        margin-bottom: 20px;
        
        a {
            color: #fff;

        }
    }
}
.social {
  display: grid;
  width: 100%;
  height: 200px;
//   place-items: center;
//   background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  margin-left: 100px;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    // float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 170px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }

  .wrapper a{
      color: black;
  }
  #fb :hover .icon{
    background: #4267B2;
  }
  #tg:hover .icon{
    background: #1DA1F2;
  }
  #insta:hover .icon{
    background: #E1306C;
  }
  
 #git:hover .icon{
    background: #333;
  }

#ld:hover .icon{
      background: #0e76a8;
  }


  
  .wrapper .button:nth-child(4):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }

  #fb span{
    color: #4267B2;
  }
#tg span{
    color: #1DA1F2;
  }
 #insta span{
    color: #E1306C;
  }
#git span{
    color: rgb(5, 5, 5);
  }
#ld span{
     color: #2867B2;
 }


// TODO: services section styling 



// TODO: skills section styling 



// TODO: contact section styling 


//  TODO: footer section styling 


 // TODO: responsiveness of my web

 @media(max-width: 690px) {
     .maxWidth{
         padding: 0 23px;
     }
     .home{
         width: 100%;
         margin: 0;
         padding: 0;
     }
    .home .homeContent .nameTxt_2{
        font-size: 56px;
        
    }
    .home .homeContent .nameTxt_3{
        font-size: 25px;
    }
    .new {
        margin-top: 25px;
        width: 80%;
    }
    .imageSection{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        background-color: none;
    }

    .social {
        height: 320px;
    }
 }

 @media(max-width: 800px) {

    .imageSection{
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease;
    }
    .imageSection img{
        width: 60%;
    }

    .new {
        margin-top: 25px;
        width: 80%;
    }
    .abtMeContnet{

        .button {
            text-decoration: none;
            background-color: #3d3d3d;
            font-size: 24px;
            padding: 10px 10px;
            margin-left: 0;
            width: 132px;
            margin-bottom: 20px;
            
            a {
                color: #fff;

            }
                }
    }
    .abtMeContnet p{
        text-align: justify;
        padding: 0;
        
        // margin: 0;
    }
    .button{
        margin-top: 20px;
        margin-left: 0;
    }
    .social{
        margin-left: 0;
    }
 }

 @media(max-width: 925px) {

     .maxWidth {
         padding: 0 50px;
        }
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }
     .navBar .menu{
         position: fixed;
         height: 100vh;
         width: 100%;
         top: 0;
         left: -100%;
         background: #111;
         text-align: center;
         padding-top: 70px;
         transition: all 0.2s ease;
        }

    .navBar .menu.active{
        left: 0;
    }
    .navBar .menu li{
            display: block;
        }
    .navBar .menu li a{            
         display: inline-block;
         margin: 15px;
         font-size: 20px;
     }

     .home .homeContent .nameTxt_2{
        font-size: 65px;
        
    }
    .home .homeContent .nameTxt_3{
        font-size: 30px;
    }
 }

 @media(max-width: 991px){
     .maxWidth{
         padding: 0 50px;
     }
 }

 @media(max-width: 1100px){
     .home .maxWidth{
         margin-left: 0;
     }
 }
