@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.newNavBar .maxWidth {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.newNavBar {
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 15px;
}

.newNavBar .maxWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newNavBar .menu li {
  display: inline-block;
  list-style: none;
}

.newNavBar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.newNavBar.sticky {
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 999;
  background: #1815b8;
  height: 70px;
}

.newNavBar .logo a span {
  color: #FDB827;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.newNavBar .menu li a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-left: 25px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.newNavBar .menu li a:hover {
  background: #FDB827;
  color: #1815b8;
  padding: 5px 2px;
  border-radius: 5px;
}

.home {
  background-attachment: fixed;
  background: url(../images/5-tips-for-students-to-improve-coding-skills-during-college.jpg) no-repeat center;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

.newNavBar {
  position: absolute;
  bottom: 0;
}

.home .maxWidth {
  margin: auto 20px auto 50px;
}

.contact .maxWidth {
  margin: auto 20px auto 50px;
}

.home .homeContent .nameTxt_1 {
  font-size: 27px;
}

.home .homeContent .nameTxt_2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .homeContent .nameTxt_3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .homeContent .nameTxt_3 span {
  color: #FDB827;
  font-weight: 500;
}

.home .homeContent .nameTxt_3 {
  font-weight: 600;
}

.menu-btn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.aboutSection {
  padding-top: 70px;
  background-color: #ddd;
  width: 100%;
}

#about {
  font-family: 'Poppins', sans-serif;
}

.aboutSection .title {
  text-align: center;
}

.aboutSection .title h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.aboutSection .title h1::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 3px;
  background-color: #222;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.abtContainer {
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 20px;
}

.abtMeContnet .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25%;
  margin-top: 10px;
}

.abtContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.imageSection {
  width: 40%;
  overflow: hidden;
}

.imageSection img {
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abtMeContnet p {
  padding: 100px;
  padding-top: 10px;
}

.abtMeContnet h3 {
  padding-left: 100px;
}

.new {
  width: 60%;
}

.abtMeContnet .button {
  text-decoration: none;
  background-color: #3d3d3d;
  font-size: 16px;
  padding: 10px 5px;
  margin-left: 100px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.abtMeContnet .button a {
  color: #fff;
}

.abtMeContnet h3 span {
  color: #FDB827;
  font-size: 24px;
}

.social {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 200px;
  margin-left: 100px;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 190px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper a {
  color: black;
}

#fb :hover .icon {
  background: #4267B2;
}

#tg:hover .icon {
  background: #1DA1F2;
}

#insta:hover .icon {
  background: #E1306C;
}

#git:hover .icon {
  background: #333;
}

#ld:hover .icon {
  background: #0e76a8;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#fb span {
  color: #4267B2;
}

#tg span {
  color: #1DA1F2;
}

#insta span {
  color: #E1306C;
}

#git span {
  color: #050505;
}

#ld span {
  color: #2867B2;
}

#service {
  color: #fff;
  background: #0A1931;
  width: 100% !important;
  font-family: 'Poppins', sans-serif;
}

.serviceSection {
  margin-right: 0;
  padding: 100px 60px;
  z-index: -20;
}

.serviceSection h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 15px;
  position: relative;
  color: #fff;
  z-index: 1;
}

.serviceSection h1::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.srvContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10;
}

.card {
  background-color: #333;
  width: calc(26% - 20px);
  padding: 40px 20px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 6;
}

.card img {
  position: absolute;
  top: -150px;
  right: -150px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.card::before {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  background-color: crimson;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card:hover {
  background-color: transparent;
}

.card:hover .box i {
  color: #fff;
}

.card:hover::before {
  width: 100%;
}

.card:hover img {
  top: 0;
  right: 0;
}

.box {
  color: #fff;
  text-align: left;
}

.box i {
  font-size: 40px;
  padding-left: 10px;
  color: crimson;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.box h2 {
  font-size: 25px;
}

#skills {
  background-color: #12172b;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 30px 0;
}

.skillSection h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  padding: 50px 20px 20px 20px;
  position: relative;
}

.skillSection h1::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skillArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20% 30px 20%;
}

.skill {
  position: relative;
  margin-bottom: 40px;
}

.skillTitle {
  font-size: 40px;
  margin-bottom: 10px;
}

.skillBar {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  height: 40px;
  z-index: 1;
  border-radius: 100px;
  position: absolute;
}

.skillFill {
  background: #1d1dd1;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
  overflow: hidden;
}

.html {
  -webkit-animation: html 2s;
          animation: html 2s;
  width: 70%;
}

.css {
  -webkit-animation: css 2s;
          animation: css 2s;
  width: 50%;
}

.js {
  -webkit-animation: js 2s;
          animation: js 2s;
  width: 20%;
}

.python {
  -webkit-animation: python 2s;
          animation: python 2s;
  width: 55%;
}

.cpp {
  -webkit-animation: cpp 2s;
          animation: cpp 2s;
  width: 60%;
}

.java {
  -webkit-animation: cpp 2s;
          animation: cpp 2s;
  width: 40%;
}

.mysql {
  -webkit-animation: cpp 2s;
          animation: cpp 2s;
  width: 40%;
}

.php {
  -webkit-animation: cpp 2s;
          animation: cpp 2s;
  width: 30%;
}

@-webkit-keyframes html {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes css {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes js {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}

@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}

@-webkit-keyframes python {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}

@keyframes python {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}

@-webkit-keyframes cpp {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes cpp {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes java {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes java {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@-webkit-keyframes mysql {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes mysql {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@-webkit-keyframes php {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

@keyframes php {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

#edu {
  background: #12172b;
  padding: 30px 40px;
  width: 100%;
}

.eduTitle h1 {
  font-size: 40px;
  margin: 20px 35vw;
  margin-bottom: 80px;
  padding-bottom: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.eduTitle h1::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

::-moz-selection {
  color: #fff;
  background: #12172b;
}

::selection {
  color: #fff;
  background: #12172b;
}

.wrapper1 {
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
  overflow-y: hidden;
}

.wrapper1 .center-line {
  margin-top: 200px;
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper1 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper1 .row-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper1 .row-2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper1 .row section {
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.wrapper1 .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.row-1 section::before {
  right: -7px;
}

.row-2 section::before {
  left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #12172b;
  font-size: 17px;
  -webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
  bottom: 4px;
  width: 70px;
  background: blue;
  color: yellow;
  left: 50%;
  font-size: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.row-1 section .icon {
  top: 15px;
  right: -60px;
}

.row-2 section .icon {
  top: 15px;
  left: -60px;
}

.row section .details,
.row section .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}

.row section p {
  margin: 10px 0 17px 0;
}

.row section .bottom a {
  text-decoration: none;
  background: #12172b;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.row section .bottom a:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-align: center;
  padding-bottom: 1px;
}

.contact .title::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 3px;
  background-color: #333;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact-content {
  margin-top: 30px;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: blue;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: blue;
  border: 2px solid blue;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.right form .button-area button:hover {
  color: blue;
  background: none;
}

footer {
  background: #12172b;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: yellow;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

.scroll-up-btn {
  bottom: 0;
  position: fixed;
  background: yellow;
  width: 40px;
  height: 46px;
  padding-bottom: 50px;
  right: 0;
  border-radius: 50px;
  z-index: 999;
}

.scroll-up-btn a {
  color: blue;
  font-size: 40px;
  padding: 6px;
}

.scroll-up-btn a:hover {
  color: yellow;
  background: blue;
  border-radius: 55px;
}

@media (max-width: 420px) {
  .newNavBar .logo a {
    font-size: 22px;
  }
}

@media (max-width: 470px) {
  .homeContent .nameTxt_2 {
    font-size: 10px;
  }
  .wrapper1 .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper1 .row {
    margin: 10px 0;
  }
}

@media (max-width: 660px) {
  .homeContent .nameTxt_2 {
    font-size: 16px;
  }
}

@media (max-width: 790px) {
  .wrapper1 .center-line {
    left: 40px;
  }
  .wrapper1 .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper1 .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}

@media (max-width: 690px) {
  .eduTitle h1 {
    font-size: 30px;
  }
  .maxWidth {
    padding: 0 23px;
  }
  .home {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .home .homeContent .nameTxt_2 {
    font-size: 56px;
  }
  .home .homeContent .nameTxt_3 {
    font-size: 25px;
  }
  .new {
    margin-top: 25px;
    width: 80%;
  }
  .imageSection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: none;
  }
  .abtMeContnet .button {
    font-size: 16px;
    width: 155px;
  }
  .social {
    height: 320px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .skillsArea {
    padding: 0 5%;
  }
}

@media (max-width: 800px) {
  .imageSection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .imageSection img {
    width: 60%;
  }
  .new {
    margin-top: 25px;
    width: 80%;
  }
  .abtMeContnet .button {
    text-decoration: none;
    background-color: #3d3d3d;
    font-size: 20px;
    padding: 10px 10px;
    margin-left: 0;
    width: 140px;
    margin-bottom: 20px;
  }
  .abtMeContnet .button a {
    color: #fff;
  }
  .abtMeContnet p {
    text-align: justify;
    padding: 0;
  }
  .button {
    margin-top: 20px;
    margin-left: 0;
  }
  .social {
    margin-left: 0;
  }
}

@media (max-width: 942px) {
  .contact-content .column {
    width: 100% !important;
    padding-bottom: 20px;
  }
  .maxWidth {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .newNavBar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #111;
    text-align: center;
    padding-top: 70px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 999;
  }
  .newNavBar .menu.active {
    left: 0;
  }
  .newNavBar .menu li {
    display: block;
  }
  .newNavBar .menu li a {
    display: inline-block;
    margin: 15px;
    font-size: 20px;
  }
  .home .homeContent .nameTxt_2 {
    font-size: 65px;
  }
  .home .homeContent .nameTxt_3 {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .maxWidth {
    padding: 0 50px;
  }
}

@media (max-width: 1100px) {
  .home .maxWidth {
    margin-left: 0;
  }
}

@media screen and (max-width: 1250px) {
  .eduTitle h1 {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-size: 40px;
  }
  .serviceSection {
    padding: 100px 25px;
  }
  .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 680px) {
  .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */